@font-face {
  font-family: 'Latin CG Bold';
  src: url('fonts/fontw.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      background-color: black; 
      color: white; 
      font-family: 'Latin CG Bold', sans-serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

a {
  color: #00ff00;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 15px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: white;
  border-bottom: 1px solid #00ff00;
}

    h1 {
      margin-top: 30px;
      color: white;
      font-family: 'Latin CG Bold', sans-serif;
    }

    .content {
      flex: 1;
      padding: 20px;
    }

    .bottom-image {
      display: block;
      width: 100%;
      object-fit: cover;
    }

button {
  background-color: #002200;
  color: #00ff00;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  outline: 1px solid white;
}

button:hover {
  color: white;
  border-bottom: 1px solid #00ff00;
  background-color: #004400;
}
#navMenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  background: #000000;
  border: 1px solid #ddd;
  padding: 10px;
  list-style: none;
  width: 200px;
}

#navMenu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.hamburger-btn {
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
}
