@font-face {
  font-family: 'Latin CG Bold';
  src: url('fonts/fontw.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: black; 
  color: white; 
  font-family: 'Latin CG Bold', sans-serif;
  margin: 20px; 
}

a {
  color: #00ff00;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: 15px;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: white;
  border-bottom: 1px solid #00ff00;
}

h1, h2 {
  margin-top: 30px;
  font-family: 'Latin CG Bold', sans-serif;
  color: white;
}

strong {
  margin-top: 30px;
  font-family: 'Latin CG Bold', sans-serif;
  color: white;
}

h1, h2 {
  color: white;
  letter-spacing: 1px;
}
button {
  background-color: #002200;
  color: #00ff00;
  padding: 10px 20px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  color: white;
  border-bottom: 1px solid #00ff00;
  background-color: #004400;
}
